.logo {
  width: 270px;
  float: left;
  height: 64px;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  .img {
    height: 62px;
    width: 250px;
    vertical-align: top;
  }
}

.menu {
  width: 900px;
  height: 64px;
  display: flex;
  float: left;
  justify-content: space-around;
  .list {
    box-sizing: border-box;
    margin: 0;
    color: black;
    height: 100%;
    font-weight: 800;
    font-size: 20px;
    display: block;
    height: 64px;
    line-height: 64px;
    text-align: center;
    // margin-left: 15px;

    &:hover {
      color: rgb(228, 27, 34);
      background-color: rgb(249, 249, 249);
      border-top: 3px solid rgb(228, 27, 34);
      padding-bottom: 6px;
    }
  }
}

.avatar {
  display: flex;
  float: right;
  justify-content: center;
  justify-items: center;
  width: 300px;
  height: 64px;
  vertical-align: middle;
  .loginLink {
    font-size: 15px;
    &:hover {
    }
  }
}
