.card {
  width: 340px;
  height: 430px;
  padding: 20px;
  border: rgba(0, 0, 0, 0.25) 1px solid;
  .shopImg {
    height: 280px;
    background-color: #abc;
  }

  .shopTitle {
    font-size: 20px;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    a {
      color: rgba(0, 0, 0, 0.65);
    }
  }

  .toolbarBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 30px;
  }

  .price {
    color: rgb(249, 92, 35);
  }

  .buyToolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
  }
}
