.orderStep {
  width: 150px;
  height: 200px;
  margin: 0 160px;

  .icon {
    width: 150px;
    height: 150px;
    font-size: 135px;
    text-align: center;
    line-height: 135px;
  }

  .title {
    width: 150px;
    height: 50px;
    color: #fff;
    font-size: 28px;
    text-align: center;
  }
}
